<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <ul>
            <li><a href="{% url 'inicio' %}">Início</a></li>
            <li><a href="{% url 'alunos' %}">Alunos</a></li>
            <li><a href="{% url 'professores' %}">Professores</a></li>
            <li><a href="{% url 'aulas' %}">Aulas</a></li>
            <li><a href="{% url 'caixa' %}">Caixa</a></li>
            
    </ul>
</div>

{% block content %}
        <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Criar</button>
        </form>
{% endblock content %}

</body>
</html>