<!DOCTYPE html>

<html lang="pt-br">

<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">



    <title>Modelo</title>
</head>

<body>
    {% block menu %}
    <nav class="nav nav-expand-lg nav-light bg-light justify-content-center">        
        <ul class="nav menu-cadastros">
            <li class="nav-item">
                <a class="nav-link active a" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item a">
                <a class="nav-link" href="/aluno/">Cadastrar Alunos</a>
            </li>
            <li class="nav-item a">
                <a class="nav-link" href="/profissional/ ">Cadastrar Professores</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="/terapia/ ">Cadastrar Terapias</a>
            </li>
        </ul>
    </nav>
    {% endblock %} 
    {% block menu-listar %}
    <nav class="nav nav-expand-lg nav-light"   style="font-size: smaller;">        
        <ul class="nav menu-listas">
            <li class="nav-item a">
                <a class="nav-link" href="/aluno/">Listar Alunos</a>
            </li>
            <li class="nav-item a">
                <a class="nav-link" href="/profissional/ ">Listar Professores</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="/terapia/ ">Listar Terapias</a>
            </li>
        </ul>
    </nav>
    {% endblock %} 
    {% block banner %}
            <div class="banner" style="text-align: center; padding:20px;">
                <img src="{% static 'img/Logo Viva_Horizontal.png' %} "  width="300px"alt=" ">
            </div>
    {% endblock %} 
    {% block conteudo %}
    <div class="container text-center ">
       <h3>Novo Sistema de Cadastros de Alunos </h3>
       <p>Nesse Sistema existem alguns campos de Cadastros no menu, na parte Superior desta pagina. <br>
          Cada Campo Leva a um Cadastro diferente, sendo eles o cadastro de alunos, de Professores e de modalidades
      </p>
    </div>
    {% endblock %} {% block footer %}
    <div class="footer">
    <footer class="bg-light text-center text-lg-start ">
      <!-- Copyright -->
      <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2); ">
        © 2021 Copyright: <span class="text-dark "> Univesp Projeto Integrador: Grupo 001- Polo Tatuí</span>
      </div>
      <!-- Copyright -->
    </footer>
</div>
    {% endblock %}

    <script src="{% static 'js/scripts.js' %} "></script>
    <script src="{% static 'js/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %} "></script>

</body>

</html>