<!DOCTYPE html>

<html lang="pt-br">

<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">



    <title>Modelo</title>
</head>

<body>
    {% block menu %}
    
    <nav class="nav nav-expand-lg nav-light bg-light" style="padding: 10px;">         
        <ul class="nav menu-cadastros">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Projeto Integrador</a>
            </li>
            <li class="nav-item a">
                <a class="nav-link" href="{% url 'listar-aluno'%}">Alunos</a>
            </li>
            <li class="nav-item a">
                <a class="nav-link" href="{% url 'listar-profissional'%}">Profissionais</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="{% url 'listar-terapia'%}">Terapias</a>
            </li>
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
              Cadastros
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end bg-light">
              <li><button onclick="window.location.href='/aluno/'" class="dropdown-item" type="button">Cadastrar Alunos</button></li>
              <li><button onclick="window.location.href='/profissional/'" class="dropdown-item" type="button">Cadastrar Professores</button></li>
              <li><button onclick="window.location.href='/terapia/'" class="dropdown-item" type="button">Cadastrar Terapias</button></li>
            </ul>
          </div>
    </nav>
    {% endblock %}  
    {% block banner %}
            <div class="banner" style="text-align: center; padding:20px;">
                <img src="{% static 'img/Logo Viva_Horizontal.png' %} "  width="300px"alt=" ">
            </div>
    {% endblock %} 
    {% block conteudo %}
    <div class="container text-center ">
       <h3>Novo Sistema de Cadastros de Alunos </h3>
       <p>Nesse Sistema existem alguns campos de Cadastros no menu, na parte Superior desta pagina. <br>
          Cada Campo Leva a um Cadastro diferente, sendo eles o cadastro de alunos, de Professores e de modalidades
      </p>
    </div>
    {% endblock %} 
    {% block footer %}
    <div class="footer">
    <footer class="bg-secondary text-center text-lg-start ">
      <!-- Copyright -->
      <div class="text-center p-3 bg-secondary text-light">
        © 2021 Copyright: <span class="text-light"> Univesp Projeto Integrador: Grupo 001- Polo Tatuí</span>
      </div>
      <!-- Copyright -->
    </footer>
</div>
    {% endblock %}

    <script src="{% static 'js/scripts.js' %} "></script>
    <script src="{% static 'js/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'js/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %} "></script>

</body>

</html>